.PlayOnLinux/
.Xauthority
.Xresources
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.cs_cache
.cs_files
.cs_workspaces
.eslintrc.json
.face
.face.icon
.fehbg
.fonts.conf
.gnupg/
.gtkrc-2.0
.java/
.kde4/
.lesshst
.links/
.local/
.mozilla/
.mplayer/
.mume/
.NERDTreeBookmarks
.newsboat/cache.db
.newsboat/cache.db.lock
.newsboat/history.cmdline
.newsboat/history.search
.node_repl_history
.npm/
.oh-my-zsh/
.pki/
.quokka/
.shell.pre-oh-my-zsh
.ssh/
.thunderbird/
.tmux/
.vim/
.viminfo
.vscode/
.w3m/
.wakatime.cfg
.wakatime.data
.wakatime.db
.wakatime.log
.wget-hsts
.wine/
.xdm-global-lock
.xdman/
.xinitrc
.yarnrc
.zcompdump
.zcompdump-archlinux-5.8
.zenmap/
.zlua
.zplug/
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
Doc1.docx
Downloads/
Imporant-Files/
Pictures/
a.out
gruvbox
id_rsa
id_rsa.pub
node.xspf
node_modules/
package-lock.json
package.json
quickstart/
screenlog.0
siji/
vimwiki/
yarn.lock

.config/BraveSoftware/
.config/Code/
.config/KDE/
.config/Kingsoft/
.config/QtProject.conf
.config/Trolltech.conf
.config/akregatorrc
.config/arkrc
.config/autostart/
.config/baloofileinformationrc
.config/baloofilerc
.config/bluedevilglobalrc
.config/browsh/
.config/chromium/
.config/coc/
.config/configstore/
.config/copyq/
.config/dconf/
.config/device_automounter_kcmrc
.config/discoverrc
.config/dolphinrc
.config/drkonqirc
.config/emaildefaults
.config/filetypesrc
.config/google-chrome/
.config/greenclip.cfg
.config/gtk-3.0/
.config/gtkrc
.config/gtkrc-2.0
.config/guake/
.config/gwenviewrc
.config/htop/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kded5rc
.config/kdeglobals
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kmixrc
.config/konsole.notifyrc
.config/konsolerc
.config/krulerrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ksplashrc
.config/ksysguardrc
.config/ksystemlogrc
.config/ktimezonedrc
.config/ktorrentrc
.config/ktouch2rc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib/
.config/menus/
.config/mimeapps.list
.config/mopidy/
.config/mps-youtube/
.config/mpv/
.config/neofetch/
.config/nvim/
.config/okularrc
.config/omf/
.config/pamac/
.config/partitionmanagerrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmanotifyrc
.config/plasmarc
.config/plasmashellrc
.config/plasmawindowed-appletsrc
.config/plasmawindowedrc
.config/powermanagementprofilesrc
.config/pulse/
.config/qutebrowser/
.config/ranger/plugins
.config/sddmthemeinstallerrc
.config/session/
.config/spectaclerc
.config/spicetify/**
.config/spotify-tui/
.config/spotify/
.config/spotifyd/
.config/systemd/
.config/systemmonitorrc
.config/systemsettingsrc
.config/touchpadrc
.config/touchpadxlibinputrc
.config/trashrc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vifm/
.config/vlc/
.config/vlcrc
.config/xpad/
.config/xsettingsd/
.config/yakuake.notifyrc
.config/yakuakerc
