.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.local/
.npm/
.oh-my-zsh/
.shell.pre-oh-my-zsh
.ssh/
.viminfo
.vue-cli-ui/
.vuerc
.wakatime.cfg
.wakatime.data
.wakatime.db
.wakatime.log
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-1559MF7-5.8
.zsh_history
.zshrc.pre-oh-my-zsh
git-clone/
gruvbox
projects/

.config/coc/
.config/configstore/
.config/gitui/
.config/htop/
.config/jesseduffield/
.config/neofetch/
.config/nvim/
